{% load staticfiles %}
{% load i18n %}

<link rel="stylesheet" type="text/css" href="{% static 'comments/style.css' %}" />

{% if comments_list %}
	<table style="width: 100%" cellpadding="5" cellspacing="0">
    <tr>
    	<td>Time</td>
    	<td>User</td>
    	<td>Comment</td>
    	<td>Resolved?</td>
    </tr>
    {% for comment in comments_list %}
    	<tr>
    		<td valign="top"><a href="{% url 'comments:detail' comment.id %}">{{ comment.video_time}}</a></td>
    		<td valign="top">{{ comment.user }}</td>
    		<td>{{ comment.text }}<br />
    			Reply <a href="{% url 'comments:upvote' comment.id %}">Upvote</a> 
        		<a href="{% url 'comments:downvote' comment.id %}">Downvote</a> Votes: {{comment.votes}}
    		</td>
    		<td>
    		{% if comment.resolved %}
				<img alt="Resolved" src="{% static 'comments/images/check.gif' %}">        
        	{% else %}
        		<img alt="Unresolved" src="{% static 'comments/images/unresolved.gif' %}"><br />
        		<a href="{% url 'comments:resolve' comment.id %}">Resolve</a>
        	{% endif %}  
    		</td>
    	</tr>
	    {% endfor %}
    </table>
{% else %}
    <p>No comments have been entered. You should write one!</p>
{% endif %}

{% if user.is_authenticated %}
	<form action="{% url 'comments:submit'%}" method="post">
		{% csrf_token %}
		<textarea placeholder="Comment..." rows="10" style="width:80%" name="comment_text">
		</textarea><br>
		Time: <input type="text" name="video_time"><br>

		Kind: <select name="type">
			<option value="unspecified"></option>
			<option value="question">Question</option>
			<option value="correction">Correction</option>
			<option value="clarification">Clarification</option>
			<option value="idea">Idea</option>
		</select><br>
		Tags: <input type="text" name="tags"><br>
		<input type="submit" value="Submit" />
	</form>
{% endif %}
{% if not user.is_authenticated %}
	<div id="content-main">
    <form action="{% url 'comments:index' %}" method="post" id="login-form">{% csrf_token %}
  <div class="form-row">
    <label for="id_username">{% trans 'Username:' %}</label>
        <input type="text" name="username" id="id_username" />
  </div>
  <div class="form-row">
    <label for="id_password">{% trans 'Password:' %}</label>
        <input type="password" name="password" id="id_password" />
    <input type="hidden" name="this_is_the_login_form" value="1" />
  </div>
  <div class="submit-row">
    <label>&nbsp;</label><input type="submit" value="{% trans 'Log in' %}" />
  </div>
</form>

<script type="text/javascript">
document.getElementById('id_username').focus()
</script>
{% endif %}
</div>
